<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
            <key>trophy</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{768,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,720}}</string>
                <key>sourceSize</key>
                <string>{768,720}</string>
            </dict>
            <key>wpto_logo_white</key>
            <dict>
                <key>frame</key>
                <string>{{1,723},{498,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{498,156}}</string>
                <key>sourceSize</key>
                <string>{498,156}</string>
            </dict>
            <key>WPTGoldLogo</key>
            <dict>
                <key>frame</key>
                <string>{{501,723},{298,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,88}}</string>
                <key>sourceSize</key>
                <string>{298,88}</string>
            </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>loading.png</string>
      <key>size</key>
      <string>{800,880}</string>
      <key>textureFileName</key>
      <string>loading</string>
    </dict>
  </dict>
</plist>
