<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>button_round_corner-8-Radius.png</key>
<dict>
<key>frame</key>
<string>{{0,0},{590,92}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{590,92}}</string>
<key>sourceSize</key>
<string>{590,92}</string>
</dict>
<key>blur_bottom_menu.png</key>
<dict>
<key>frame</key>
<string>{{591,0},{198,204}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{198,204}}</string>
<key>sourceSize</key>
<string>{198,204}</string>
</dict>
<key>bgWithShadow.png</key>
<dict>
<key>frame</key>
<string>{{796,0},{186,185}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{186,185}}</string>
<key>sourceSize</key>
<string>{186,185}</string>
</dict>
<key>usd_icon.png</key>
<dict>
<key>frame</key>
<string>{{0,93},{181,181}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{181,181}}</string>
<key>sourceSize</key>
<string>{181,181}</string>
</dict>
<key>newGoldPanelBg2.png</key>
<dict>
<key>frame</key>
<string>{{182,93},{312,102}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{312,102}}</string>
<key>sourceSize</key>
<string>{312,102}</string>
</dict>
<key>button_round_corner_alpha-GetCode.png</key>
<dict>
<key>frame</key>
<string>{{182,196},{258,88}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{258,88}}</string>
<key>sourceSize</key>
<string>{258,88}</string>
</dict>
<key>CasinoCoin.png</key>
<dict>
<key>frame</key>
<string>{{796,187},{128,128}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{128,128}}</string>
<key>sourceSize</key>
<string>{128,128}</string>
</dict>
<key>button_bg_outline.png</key>
<dict>
<key>frame</key>
<string>{{495,93},{200,80}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{200,80}}</string>
<key>sourceSize</key>
<string>{200,80}</string>
</dict>
<key>button_bg_primary.png</key>
<dict>
<key>frame</key>
<string>{{576,199},{200,80}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{200,80}}</string>
<key>sourceSize</key>
<string>{200,80}</string>
</dict>
<key>check-icon.png</key>
<dict>
<key>frame</key>
<string>{{925,187},{128,97}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{128,97}}</string>
<key>sourceSize</key>
<string>{128,97}</string>
</dict>
<key>button_round_corner-7-Radius.png</key>
<dict>
<key>frame</key>
<string>{{0,285},{276,42}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{276,42}}</string>
<key>sourceSize</key>
<string>{276,42}</string>
</dict>
<key>GC1.png</key>
<dict>
<key>frame</key>
<string>{{576,280},{100,100}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{100,100}}</string>
<key>sourceSize</key>
<string>{100,100}</string>
</dict>
<key>round_rect_100_100.png</key>
<dict>
<key>frame</key>
<string>{{677,280},{100,100}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{100,100}}</string>
<key>sourceSize</key>
<string>{100,100}</string>
</dict>
<key>SC2.png</key>
<dict>
<key>frame</key>
<string>{{277,285},{99,99}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{99,99}}</string>
<key>sourceSize</key>
<string>{99,99}</string>
</dict>
<key>GC2.png</key>
<dict>
<key>frame</key>
<string>{{377,285},{98,99}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{98,99}}</string>
<key>sourceSize</key>
<string>{98,99}</string>
</dict>
<key>arrow_down.png</key>
<dict>
<key>frame</key>
<string>{{778,316},{122,71}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{122,71}}</string>
<key>sourceSize</key>
<string>{122,71}</string>
</dict>
<key>newGoldPanelAddBtn2.png</key>
<dict>
<key>frame</key>
<string>{{901,316},{79,103}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{79,103}}</string>
<key>sourceSize</key>
<string>{79,103}</string>
</dict>
<key>toggleOff.png</key>
<dict>
<key>frame</key>
<string>{{476,294},{98,69}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{98,69}}</string>
<key>sourceSize</key>
<string>{98,69}</string>
</dict>
<key>toggleOn.png</key>
<dict>
<key>frame</key>
<string>{{0,328},{98,68}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{98,68}}</string>
<key>sourceSize</key>
<string>{98,68}</string>
</dict>
<key>icon_add.png</key>
<dict>
<key>frame</key>
<string>{{99,328},{80,80}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{80,80}}</string>
<key>sourceSize</key>
<string>{80,80}</string>
</dict>
<key>GoldCoin.png</key>
<dict>
<key>frame</key>
<string>{{180,328},{79,78}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{79,78}}</string>
<key>sourceSize</key>
<string>{79,78}</string>
</dict>
<key>USD.png</key>
<dict>
<key>frame</key>
<string>{{441,196},{52,80}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{52,80}}</string>
<key>sourceSize</key>
<string>{52,80}</string>
</dict>
<key>SC1.png</key>
<dict>
<key>frame</key>
<string>{{476,364},{62,64}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{62,64}}</string>
<key>sourceSize</key>
<string>{62,64}</string>
</dict>
<key>invalid-icon.png</key>
<dict>
<key>frame</key>
<string>{{541,381},{64,58}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{64,58}}</string>
<key>sourceSize</key>
<string>{64,58}</string>
</dict>
<key>password-hide-icon.png</key>
<dict>
<key>frame</key>
<string>{{606,381},{64,56}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{64,56}}</string>
<key>sourceSize</key>
<string>{64,56}</string>
</dict>
<key>coin_icon.png</key>
<dict>
<key>frame</key>
<string>{{671,381},{58,58}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{58,58}}</string>
<key>sourceSize</key>
<string>{58,58}</string>
</dict>
<key>round_rect_fill_corner_100.png</key>
<dict>
<key>frame</key>
<string>{{730,388},{64,48}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{64,48}}</string>
<key>sourceSize</key>
<string>{64,48}</string>
</dict>
<key>password-show-icon.png</key>
<dict>
<key>frame</key>
<string>{{795,388},{64,44}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{64,44}}</string>
<key>sourceSize</key>
<string>{64,44}</string>
</dict>
<key>magnifying-glass-icon.png</key>
<dict>
<key>frame</key>
<string>{{259,385},{48,48}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{48,48}}</string>
<key>sourceSize</key>
<string>{48,48}</string>
</dict>
<key>white_bg_inner.png</key>
<dict>
<key>frame</key>
<string>{{0,397},{50,42}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{50,42}}</string>
<key>sourceSize</key>
<string>{50,42}</string>
</dict>
<key>CNY.png</key>
<dict>
<key>frame</key>
<string>{{180,408},{74,28}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{74,28}}</string>
<key>sourceSize</key>
<string>{74,28}</string>
</dict>
<key>currency_GC.png</key>
<dict>
<key>frame</key>
<string>{{308,385},{44,44}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{44,44}}</string>
<key>sourceSize</key>
<string>{44,44}</string>
</dict>
<key>gold_coin.png</key>
<dict>
<key>frame</key>
<string>{{51,397},{42,43}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{42,43}}</string>
<key>sourceSize</key>
<string>{42,43}</string>
</dict>
<key>lock-icon.png</key>
<dict>
<key>frame</key>
<string>{{860,388},{37,48}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{37,48}}</string>
<key>sourceSize</key>
<string>{37,48}</string>
</dict>
<key>currency_SC.png</key>
<dict>
<key>frame</key>
<string>{{898,396},{38,44}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{38,44}}</string>
<key>sourceSize</key>
<string>{38,44}</string>
</dict>
<key>checkbox.png</key>
<dict>
<key>frame</key>
<string>{{943,396},{40,40}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{40,40}}</string>
<key>sourceSize</key>
<string>{40,40}</string>
</dict>
<key>rectangle-4-Radius.png</key>
<dict>
<key>frame</key>
<string>{{984,396},{36,36}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{36,36}}</string>
<key>sourceSize</key>
<string>{36,36}</string>
</dict>
<key>icon_phone.png</key>
<dict>
<key>frame</key>
<string>{{353,385},{36,36}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{36,36}}</string>
<key>sourceSize</key>
<string>{36,36}</string>
</dict>
<key>info-icon.png</key>
<dict>
<key>frame</key>
<string>{{390,385},{36,36}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{36,36}}</string>
<key>sourceSize</key>
<string>{36,36}</string>
</dict>
<key>GBP.png</key>
<dict>
<key>frame</key>
<string>{{95,409},{29,42}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{29,42}}</string>
<key>sourceSize</key>
<string>{29,42}</string>
</dict>
<key>Close_icon.png</key>
<dict>
<key>frame</key>
<string>{{427,385},{34,34}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{34,34}}</string>
<key>sourceSize</key>
<string>{34,34}</string>
</dict>
<key>EUR.png</key>
<dict>
<key>frame</key>
<string>{{138,409},{29,39}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{29,39}}</string>
<key>sourceSize</key>
<string>{29,39}</string>
</dict>
<key>USDT.png</key>
<dict>
<key>frame</key>
<string>{{982,0},{28,35}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{28,35}}</string>
<key>sourceSize</key>
<string>{28,35}</string>
</dict>
<key>white_bar.png</key>
<dict>
<key>frame</key>
<string>{{1018,0},{126,4}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<true/>
<key>sourceColorRect</key>
<string>{{0,0},{126,4}}</string>
<key>sourceSize</key>
<string>{126,4}</string>
</dict>
<key>default_panel.png</key>
<dict>
<key>frame</key>
<string>{{982,127},{20,20}}</string>
<key>offset</key>
<string>{0,0}</string>
<key>rotated</key>
<false/>
<key>sourceColorRect</key>
<string>{{0,0},{20,20}}</string>
<key>sourceSize</key>
<string>{20,20}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>pixelFormat</key>
<string>RGBA8888</string>
<key>premultiplyAlpha</key>
<false/>
<key>realTextureFileName</key>
<string>texture.png</string>
<key>textureFileName</key>
<string>texture.png</string>
<key>size</key>
<string>{1022,439}</string>
</dict>
</dict>
</plist>
